/* background styling and background url  */
.container {
    width: 100%;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    /*align-items: center; */
}
.container1 {
    background-color: rgb(222, 235, 243);
    height: 100vh;
}
/* navbar styling */
.navbar {
    width: 100%;
    height: 150px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}
.navLeft {
    width: 38%;
    height: 150px;
    /* background: yellow; */
}
.logo {
    width: 45%;
    height: 80px;
    background-color: white;
    margin:50px 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 20px;
    border-radius: 30px;
}
.logo a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium';
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgb(45, 2, 100)
}
.logo img{
    width: 30px;
    height: 30px;
}
/* navbar right styling  */
.navRight {
    width: 38%;
    height: 150px;
    /* background: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content {
    width: 81%;
    height:30px;
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 40px;
}
.navigation {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: black;
    transition: 0.3s;
}
.navigation:hover{
    color: rgb(223, 32, 223);
}
.home {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(223, 32, 223);
}

/* games navbutton styling and on hover div visible  */
.games {
    width: 55px;
    height: 20px;
    position: relative;
}
.games a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: black;
}
.gameContent {
    width: 125px;
    height: 90px;
    background-color: white;
    border-radius:10px;
    position: absolute;
    top: 3rem;
    right: 1px;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    transition: 1s;
}
.games:hover .gameContent{
    visibility: visible;
}
.gameContent a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: black;
}
.gameContent a:hover{
    color: rgb(223, 32, 223);
}
/* page 1 styling  */
.page1 {
    width: 100%;
    height: 470px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.jumpOn {
    width: 22%;
    height: 140px;
    border-radius: 2rem;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* animation styling  */
    animation-name: jumpOn;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes jumpOn{
    from {
        transform: translateX(-195px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.jumpOn img{
    width: 78px;
    height: 78px;
    border: 7px solid rgba(224, 217, 217, 0.651);
    border-radius: 2rem;
}
.innerContentJumpOn {
    width: 120px;
    height: 70px;
    /* background-color: red; */
    text-align: left;
    margin-left: 1rem;
}
.innerContentJumpOn h1{
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(45, 2, 100)
}
.innerContentJumpOn span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    /* color: rgb(45, 2, 100) */
}
.consoleLogo {
    width: 150px;
    height: 148px;
    position: absolute;
    margin-right: 52rem;
    margin-top: 5rem;
/* animation styling  */
    animation-name: consoleLogo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes consoleLogo{
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.consoleLogo2 {
    width: 150px;
    height: 148px;
    position: absolute;
    margin-left: 52rem;
    margin-top: 5rem;
/* animation styling  */
    animation-name: consoleLogo2;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes consoleLogo2{
    from{
        transform: translateY(150px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.headings {
    width: 100%;
    height: 240px;
}
.upper {
    width: 100%;
    height: 150px;
    background-color: yellow;
}
.lower {
    width: 100%;
    height: 90px;
    background-color: red;
}