/* background styling and background url  */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

.container {
    width: 100%;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center; */
}
.container1 {
    background-color: rgb(229, 243, 252);
    height: 100vh;
}
.container2 {
    background-color: rgb(229, 243, 252);
    height: 200vh;
    position: relative;
}
.container3{
    background-color: rgb(229, 243, 252);
    height: 330vh;
}
.container4 {
    background-color: rgb(229, 243, 252);
    height: 130vh;
    align-items: center;
}
.container5 {
    background-image: url(https://static.wixstatic.com/media/c837a6_46abf0a8171f47748472c8ecf2b19363~mv2.jpg/v1/fill/w_1349,h_900,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_46abf0a8171f47748472c8ecf2b19363~mv2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}
.container5::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(198, 22, 233, 0.7);
    z-index: 1;
}
.container6 {
    background-color: rgb(229, 243, 252);
    height: 135vh;
    position: relative;
}
/* navbar styling */    
.navbar {
    width: 100%;
    height: 120px;
    /* background: red; */
    margin-bottom: -50px;
    display: flex;
    justify-content: space-between;
}
.navLeft {
    width: 38%;
    height: 120px;
    /* background: yellow; */
}
.logo {
    width: 42%;
    height: 70px;
    background-color: white;
    margin:40px 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow:-0px -0px -0px, 0px 0px 5px rgb(189, 153, 229);
    border-radius: 1.2rem;
}
.logo a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: rgb(45, 2, 100);
}
.logo img{
    width: 30px;
    height: 30px;
}
/* navbar right styling  */
.navRight {
    width: 38%;
    height: 120px;
    /* background: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content {
    width: 70%;
    height:30px;
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
}
.navigation {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}
.navigation:hover{
    color: rgb(176, 24, 236);
}
.home {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(176, 24, 236);
}

/* games navbutton styling and on hover div visible  */
.games {
    width: 55px;
    height: 20px;
    position: relative;
    font-weight: bold;
}
.games a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.gameContent {
    width: 125px;
    height: 90px;
    background-color: white;
    border-radius:10px;
    position: absolute;
    z-index: 2;
    top: 2.6rem;
    right: 1px;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    transition: 1s;
}
.games:hover .gameContent{
    visibility: visible;
}
.gameContent a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.gameContent a:hover{
    color: rgb(176, 24, 236);
}
/* page 1 styling  */
.page1 {
    width: 100%;
    height: 470px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.jumpOn {
    width: 20.5%;
    height: 130px;
    border-radius: 1.2rem;
    background-color: white;
    box-shadow:-0px -0px -0px, 0px 0px 5px rgb(189, 153, 229);
    margin-bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* animation styling  */
    animation-name: jumpOn;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes jumpOn{
    from {
        transform: translateX(-195px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.jumpOn img{
    width: 78px;
    height: 78px;
    border: 5px solid rgba(224, 217, 217, 0.651);
    border-radius: 27px;
    margin-right: 5px;
}
.innerContentJumpOn {
    width: 120px;
    height: 50px;
    /* background-color: red; */
    text-align: left;
    margin-right: 30px;
    text-align: center;
}
.innerContentJumpOn a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(45, 2, 100);
    margin-right: 10px;
    
}
.innerContentJumpOn span{
    font-size: 18px;
    color: rgb(45, 2, 100);
    margin-right: 30px;
}
.consoleLogo {
    width: 150px;
    height: 148px;
    position: absolute;
    margin-right: 920px;
    margin-top: 50px;
/* animation styling  */
    animation-name: consoleLogo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes consoleLogo{
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.consoleLogo2 {
    width: 150px;
    height: 148px;
    position: absolute;
    margin-left: 900px;
    margin-top: 50px;
/* animation styling  */
    animation-name: consoleLogo2;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes consoleLogo2{
    from{
        transform: translateY(150px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.headings {
    width: 100%;
    height: 160px;
/* animation styling */
    animation-name: headings;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-delay: 1s;
    margin-bottom: 100px;
}
@keyframes headings{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.upper {
    width: 100%;
    height: 110px;
    display: flex;
    /* align-items: center; */
}
.left {
    width: 35%;
    height: 110px;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left h1{
    font-size: 75px;
    color: rgb(45, 2, 100);
    text-align: center;
    margin-left: 30px;
}
.right {
    width: 35%;
    background-color: rgb(178, 5, 230);
    border-radius: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right h1{
    font-size: 75px;
    color: white;
    text-align: center;
}
.lower {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower span {
    font-size: 27px;
    color: rgb(45, 2, 100);
    text-align: center;
}
/* page2 styling  */

.page2 {
    width: 100%;
    height: 130px;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* games content styling in page 2  */
.feedTheCat {
    width: 20%;
    height: 130px;
    background-color: white;
    margin-left: 85px;
    border-radius: 1.2rem;
    box-shadow:-0px -0px -0px, 0px 0px 5px rgb(189, 153, 229);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

/* animation styling  */
    animation-name: FeedTheCat;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes FeedTheCat {
    from{
        transform: translateX(-195px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.feedTheCat img{
    width: 78px;
    height: 78px;
    border: 5px solid rgba(224, 217, 217, 0.651);
    border-radius: 27px;
    margin-right: 5px;
}
.innterContentFeedTheCat {
    width: 140px;
    height: 50px;
    /* background-color: red; */
    text-align: center;
    text-align: center;
}
.innterContentFeedTheCat a{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(45, 2, 100);
    margin-right: 10px;
}
.innterContentFeedTheCat span{
    font-size: 17px;
    color: rgb(45, 2, 100);
    margin-right: 72px;
}
.rippleDelete {
    width: 20%;
    height: 130px;
    background-color: white;
    margin-right: 85px;
    border-radius: 1.2rem;
    box-shadow:-0px -0px -0px, 0px 0px 5px rgb(189, 153, 229);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

/* animation styling  */
    animation-name: RippleDelete;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes RippleDelete{
    from{
        transform: translateX(-195px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.rippleDelete img{
    width: 78px;
    height: 78px;
    border: 5px solid rgba(224, 217, 217, 0.651);
    border-radius: 27px;
    margin-right: 5px;
}
.innterContentRippleDelete {
    width: 140px;
    height: 50px;
    /* background-color: red; */
    text-align: center;
    text-align: center;
}
.innterContentRippleDelete a{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(45, 2, 100);
    margin-right: 10px;
}
.innterContentRippleDelete span{
    font-size: 17px;
    color: rgb(45, 2, 100);
    margin-right: 50px;
}

/* hands image styling by position absolute, parent .container2 */

.hands{
    position: absolute;
    bottom: 530px;
}
.consoleLogo3 {
    position: absolute;
    top: 900px;
    right: 275px;

/* animation styling */
    animation-name: consoleLogo3;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-delay: 1s;
}
@keyframes consoleLogo3{
    from{
        transform: translateX(195px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.heading2 {
    width: 100%;
    height: 300px;
    /* background-color: blue; */
    position: absolute;
    bottom: 25px;
}
.top {
    width: 100%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.headingContent {
    width: 60%;
    height: 80px;
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.topLeft {
    width: 27%;
    height: 80px;
    border-radius: 2.5rem;
    background-color: rgb(178, 5, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.topLeft span {
    font-size: 45px;
    color: white;
}
.topRight {
    width: 35%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topRight span {
    font-size: 45px;   
    color: rgb(45, 2, 100);
}
.bottom {
    width: 100%;
    height: 170px;
    /* background-color: peachpuff; */
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.bottom p {
    font-size: 20px;
    color: rgb(45, 2, 100);
}

/* page3 styling games information */
.box {
    width: 84.5%;
    height: 95vh;
    position: relative;
    display: inline-block;
}
/* .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
} */
 .image-container {
    position: relative;
    width: 100%;
    height: 95vh;
 }
 .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
 }
.image-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 1;
}
.info {
    width: 60%;
    height: 470px;
    position: absolute;
    top: 105px;
    left: 80px;
    border-radius: 1.2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.info2 {
    width: 60%;
    height: 470px;
    position: absolute;
    top: 105px;
    right: 80px;
    border-radius: 1.2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* game details infor styling same styling for all 3 containers content as the content is same  */
.innerMain {
    width: 90%;
    height: 420px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerMain-left {
    width: 60%;
    height: 320px;
    /* background-color: red; */
}
.innerMain-right {
    width: 40%;
    height: 380px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}
.details-top {
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.details-top img {
    width: 78px;
    height: 78px;
    border: 5px solid rgba(224, 217, 217, 0.651);
    border-radius: 27px;
    margin-right: 5px;
}
.details-innerContentJumpOn {
    width: 120px;
    height: 50px;
    /* background-color: red; */
    text-align: left;
    margin-right:120px;
    text-align: center;
}
.details-innerContentJumpOn a{
    font-size: 23px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(45, 2, 100);
    margin-right: 10px;
    
}
.details-innerContentJumpOn span{
    font-size: 16px;
    color: rgb(45, 2, 100);
    margin-right: 20px;
}
.details-mid {
    width: 100%;
    height: 120px;
    /* background-color: purple; */
    display: flex;
    align-items: center;
}
.details-mid p{
    font-size: 16px;
    color: rgb(45, 2, 100);
}
.details-bottom {
    width: 100%;
    height: 80px;
    /* background-color: green; */
    display: flex;
    align-items: center;
}
.appStore {
    width: 43%;
    height: 50px;
    display: flex;
    align-items: center;
}
.playStore {
    width: 43%;
    height: 50px;
    display: flex;
    align-items: center;
}

/* page3 styling  */
.page3 {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    position: relative;
}
.page3-content {
    width: 60%;
    height: 100vh;
    /* background-color: yellow; */
    left: 90px;
    position: absolute;
}
.heading {
    width: 100%;
    height: 290px;
    /* background-color: brown; */
}
.heading-1 {
    width: 100%;
    height: 45px;
    /* background-color: blue; */
}
.heading-1 h2{
    font-size: 25.4px;
    color: rgb(45, 2, 100);
    margin-left: 15px;
}
.heading-2 {
    width: 100%;
    height: 90px;
    /* background-color: pink; */
    display: flex;
}
.h2-left {
    width: 53%;
    height: 90px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2-left span {
    font-size: 45px;
    color: rgb(45, 2, 100);
    text-align: center;
}
.h2-right {
    width: 43%;
    height: 90px;
    background-color: rgb(178, 5, 230);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2-right span {
    font-size: 45px;
    color: white;
}
.heading-3 {
    width: 100%;
    height: 80px;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.heading-3 span {
    font-size: 45px;
    color: rgb(45, 2, 100);
}
.heading-4 {
    width: 100%;
    height: 75px;
    /* background-color: green; */
    display: flex;
    align-items: center;
}
.button1 {
    width: 18%;
    height: 60px;
    background-color: rgb(45, 2, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin-left: 15px;
    transition: 0.5s;
    z-index: 2;
}
.button1 h3 {
    font-size: 15px;
    color: white;
}
.button1:hover {
    background-color: rgb(178, 5, 230);
    cursor: pointer;
}
.arrow-hand {
    position: absolute;
    top: -120px;
    right: 0px;
}
.heading-image {
    width: 100%;
    height:390px;
    /* background-color: blue; */
    margin-top: 80px;
}
.heading-image img {
    border-radius: 1.5rem;
    margin-left: 15px;
}

/* page 4 styling  */
.page4 {
    width: 100%;
    height: 300px;
    margin-top: 170px;
    /* background-color: red; */
    z-index: 2;
}
.page4-content {
    width: 52%;
    height: 300px;
    margin-left: 165px;
    /* background-color: yellow; */
}
.page4-heading1 {
    width: 100%;
    height: 50px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
}
.page4-heading1 h4{
    font-size: 23px;
    color: white;
}
.page4-heading2 {
    width: 100%;
    height: 125px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.page4-heading2 h4 {
    font-size: 45px;
    color: white;
}
.page4-heading3 {
    width: 100%;
    height: 90px;
    /* background-color: green; */
    display: flex;
    align-items: center;
}
.bottom2 {
    width: 19%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: none;
    transition: 0.5s;
    color: rgb(45, 2, 100);
    font-weight: bolder;
}
.bottom2:hover {
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid white;
    cursor: pointer;
    color: white;
}
.robot {
    z-index: 2;
    position: absolute;
    top: 545px;
    left: 130px;
}
.userInfo {
    width: 35%;
    height: 600px;
    background-color: white;
    z-index: 2;
    border-radius: 1.2rem;
    position: absolute;
    top: 410px;
    right: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.infoHeader {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    /* background-color: red; */
}
.header-upper {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.header-upper h5 {
    font-size: 23px;
    color: rgb(45, 2, 100);
    margin-left: 30px;
}
.header-lower {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.header-lower p {
    font-size: 16px;
    color: rgb(45, 2, 100);
    margin-left: 30px;
}
form {
    width: 90%;
    height: 370px;
    /* background-color: green; */
    margin-bottom: 50px;
}
table input{
    width: 83%;
    padding: 13px;
    border: 1px groove rgb(45, 2, 100);
    background: none;
    border-radius: 5px;
}
table input:hover{
    border: 1.6px solid black;
}
table label {
    font-size: 15px;
}
.message {
    width: 92%;
    height: 70px;
    border: 1px solid rgb(45, 2, 100);
}
.checkbox {
    width: 10%;
    height: 15px;
    cursor: pointer;
}
.checkbox-label {
    font-size: 17px;
}
.submit {
    width: 100%;
    height: 43px;
    background-color: rgb(22, 11, 83);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.submit:hover {
    background-color: rgb(202, 78, 240);
    cursor: pointer;
}
.submit h6 {
    color: white;
    font-size: 17px;
}

/* page 5 styling  */
.page5 {
    width: 100%;
    height: 700px;
    /* background-color: red; */
    position: absolute;
    bottom: 0px;
}
.navLeft2 {
    width: 38%;
    height: 90px;
    /* background: yellow; */
}
.page5 span {
    font-size: 30px;
    color: rgb(45, 2, 100);
    margin-left: 50px;
}
.hr1 {
    width: 100%;
    height: 20px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}
hr{
    border: none;
    height: 1px;
    background-color: black;
}
.inner {
    width: 93%;
}

/* footer styling  */

footer {
    width: 100%;
    height: 470px;
}
.footer-upper {
    width: 100%;
    height: 340px;
    display: flex;
}
.upper-left{
    width: 30%;
    height: 340px;
    display: flex;
    justify-content: center;
}
.contact{
    width: 78%;
    height: 180px;
    /* background-color: blue; */
    margin-top: 20px;
}
.contact-heading{
    width: 100%;
    height: 50px;
    /* background-color: red; */
}
.contact-heading h6{
    font-size: 18px;
}
.contact-info{
    width: 100%;
    height: 130px;
    /* background-color: yellow; */
    font-size: 15px;
    line-height: 28px;
}
.upper-middle{
    width: 40%;
    height: 340px;
}
.subs{
    width: 100%;
    height: 150px;
    /* background-color: red; */
    margin-top: 20px;
}
.subs-heading{
    width: 100%;
    height: 30px;
    /* background-color: yellow; */
}
.subs h6{
    font-size: 18px;
}
.subs label{
    font-size: 16px;
    color: rgb(150, 128, 128);
}
.subs-input{
    width: 245px;
    padding: 0.7rem;
    border: 1px solid rgb(45, 2, 100);
    border-radius: 0.3rem;
    background: none;
    transition: 0.3s;
}
.subs-input:hover{
    background: white;
}
.subs-submit {
    width: 125px;
    height: 40px;
    margin-left: 15px;
    border-radius: 2rem;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(178, 5, 230);
    transition: 0.3s;
}
.subs-submit:hover{
    background-color: rgb(45, 2, 100);
    cursor: pointer;
}
.upper-right{
    width: 30%;
    height: 340px;
    display: flex;
    justify-content: center;
    /* background-color: brown; */
}
.menu{
    width: 40%;
    height: 340px;
    /* background-color: red; */
}
.menu-heading{
    width: 100%;
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.menu-heading h6{
    font-size: 18px;
    font-weight: bold;
}
.menu a{
    display: flex;
    font-size: 15px;
    text-decoration: none;
    line-height: 30px;
}
.social{
    width: 40%;
    height: 340px;
    /* background-color: yellow; */
}
.social-heading{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social h6{
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.social a{
    display: flex;
    font-size: 15px;
    text-decoration: none;
    line-height: 30px;
    margin-left: 50px;
}
.footer-lower{
    width: 100%;
    height: 130px;
    /* background-color: green; */
}
.footer-content1{
    width: 450px;
    height: 60px;
    margin-left: 40px;
    /* background-color: yellow; */
    display: flex;
}
.footer-content2{
    width: 450px;
    height: 70px;
    margin-left: 40px;
    /* background-color: red; */
    font-size: 15px;
}
.footer-appStore {
    margin-right: 15px;
}
